.cover__link {
  width: 100%;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.cover__link:hover {
  cursor: pointer;
}

@media (min-width: 384px) {
  .cover__link {
    min-height: 240px;
  }
}

@media (min-width: 512px) {
  .cover__link {
    min-height: 320px;
  }
}

@media (min-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (min-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}