.header__logo {
  width: 176px;
  height: 52px;

  background: url('../../../images/header-logo.svg') top left / contain no-repeat;
}

@media (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
