.header__logo {
  width: 142px;
  height: 42px;
  background: url('../../../images/header-logo.svg') top left / contain no-repeat;
}

@media (min-width: 425px) {
  .header__logo {
    width: 176px;
    height: 52px;
  }
}
