.lead__title {
  max-width: 300px;
  margin: 0 auto 16px;
  text-align: center;

  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
}

 @media (min-width: 425px) {
  .lead__title {
    max-width: 450px;
    font-size: 50px;
    line-height: 54px;
  }
}

@media (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    margin-bottom: 32px;
    font-size: 96px;
    line-height: 100px;
  }
}
