.footer__service {
  margin-bottom: 32px;
}

.footer__service:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .footer__service {
    margin-bottom: 0;
    margin-right: 18px;
  }
}
